<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Pagina Principal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
    <div>
        <h2>Registrar Usuario</h2>
        <div>
            <form class="Datos">
                <input type="text" id="nombre" name='nombre' class="Informacion" placeholder="Nombre">
                <input type="text" id="apellido" name='apellido' class="Informacion" placeholder="Apellido">
                <input type="text" id="correo" name='correo' class="Informacion" placeholder="Correo">
                <input type="text" id="tel" name='tel' class="Informacion" placeholder="Teléfono">

            </form>
            <button type="button" id="registrar" class="boton">Registrar</button>
        </div>
        <p id="resultado" title="Resultado">Status</p>

        <form action="/buscar_usuario" id="usuarios">
            <button type="submit" >Buscar Usuario</button> 
        </form>
    </div>
</body>

</html>