body{
    background-color: #e260a3;
  }
  
  h1,h2{
    text-align: center;
    color: #000000;
    font-family: sans-serif;
    font-weight: bolder;
  }
  

.Datos{
  width: 40%;
  margin:auto;
  text-align: center;
  display: block;
}

.Informacion{
  margin:10px;
}

.boton{
    background-color:#6c103f;
    color: #ffffff;
    border:2px solid;
    border-color: #ffffff;
    border-radius: 20px;
    text-align:center;
    font-family: sans-serif;
    width: 20%;
    margin: auto;
    display: block;
}

#resultado{
  width: 20%;
  margin: auto;
  display: block;
}

#usuarios{
  text-align:center;
  width:20%;
  margin:auto;
  padding-top: 20px;
}